<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        colors="true"
        stopOnFailure="true"
        bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>